// bower:scss
// endbower
@import "normalize.css";



// variables
$body-bg: #fff;
$body-color: #151515;

$nav-bg: #151515;
$nav-color: #fff;



.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  font-size: 10px; // for using rem
}

body {
  background: #fff;
  background:#6CD9FF;
  padding-top: 44px;
  font-family: 'Exo 2', sans-serif;
  color: #151515;
  font-size: 1.8rem;
  line-height: 2.8rem;

  transition:all 200ms;
  //will-change:background;
}

p {
  font-size: 1.8rem;
  line-height: 2.8rem;
}

a {
  color: #151515;
  text-decoration: none;
  border-bottom: 1px solid #151515;
}

.bold {
  font-weight: bold;
}

.text-center {
  text-align: center;
}

h1 {
  font-size: 7.2rem;
  line-height: 8rem;
  text-align: center;
  margin: 1rem 0;
}

section {
  padding: 0 30%;
}

.btn {
  display: inline-block;
  padding: 15px 50px;
  border: 2px solid #151515;
  color: #151515;
  font-weight: bold;
  font-size: 2rem;
  line-height: 3rem;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  &:hover {

    //color: #000; /* Fallback for older browsers */
    //color: rgba(0, 0, 0, 0.5);
    //background: #000;
    /* Color fallback */
    //color: #fff;
    background-color: #000;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}



/* animated navigation */

nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 44px;
  padding-top: 14px;
  background: #151515;
  color: #fff;
  text-align: center;

  a {
    color: #fff;
    border-bottom: 1px solid #fff;
  }
}

/* hamburger menu icon */

.menu-icon span {
  display: block;
  width: 40px;
  height: 2px;
  margin: 0 auto 5px;
  position: relative;
  font-size: 0;
  background: #fff;
  z-index: 1;
  transform-origin: 4px 0;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
  background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
  opacity 0.55s ease;
}

.menu-icon span:first-child {
  transform-origin: 0 0;
}

.menu-icon span:nth-child(3) {
  transform-origin: 0 100%;
  margin-bottom: 0;
}

.menu-btn {
  display: block;
  width: 40px;
  height: 20px;
  position: absolute;
  top: 14px;
  left: 50%;
  margin-left: -20px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

.menu-btn:checked {
  width: 24px;
  height: 24px;
  margin-left: -16px;
}

.menu-btn:checked + .menu-icon {
  padding-left: 8px;
}

.menu-btn:checked + .menu-icon span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, 2px);
  background: #fff;
  width: 33px;
}

.menu-btn:checked + .menu-icon span:nth-child(2) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

.menu-btn:checked + .menu-icon span:nth-child(3) {
  transform: rotate(-45deg) translate(-8px, 3px);
}

/* menu-content */

.menu-wrapper {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  color: #fff;
  background: #151515;
  padding: 120px 0 0;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0 0;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

.menu-btn:checked ~ .menu-wrapper {
  transform: none;
}

.menu-content {
  max-width: 1200px;
  padding: 0 30px;
  margin: auto;
  text-align: left;

  display: inline-grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template-rows: auto;
  align-content: space-between;

  grid-template-areas:
    "primary about venue tickets"
    "primary previous venue tickets"
    "primary previous venue social"
    "lang . . . ";

  ul {
    list-style: none;
    padding: 0;
  }

  h2 {
    text-transform: uppercase;
    font-size: 1.8rem;
    line-height: 2.8rem;
  }

  h3 {
    margin: 0;
    font-size: 1.8rem;
    line-height: 2.8rem;
  }

  p {
    font-size: 1.6rem;
    line-height: 2.4rem;
    margin: 8px 0;
  }

  img {
    width: 100%;
    max-width: 260px;
    max-height: 146px;
  }
}

.menu-content [class*="menu-item"] {

}

.menu-item-primary {
  grid-area: primary;
  li {
    padding: 8px 0;
    text-transform: uppercase;
    font-weight: bold;
    &:first-child {
      padding-top: 0;
    }
  }

}

.menu-item-lang {
  grid-area: lang;

  li {
    display: inline-block;

    a {
      height: 60px;
      line-height: 56px;
      text-align: center;
      text-transform: uppercase;
      font-weight: bold;
      width: 60px;
      display: inline-block;
      border: 2px solid #fff;
      border-radius: 50%;
      margin: 0 16px 0 0;

      &.active {
        background: #fff;
        color: #000;
      }
    }
  }
}

.menu-item-about {
  grid-area: about;
}

.menu-item-previous {
  grid-area: previous;

  li {
    display: inline-block;
    padding: 0 16px 0 0;
  }

  a.active {
    border-bottom: none;
  }
}

.menu-item-venue {
  grid-area: venue;
}

.menu-item-tickets {
  grid-area: tickets;

  .placeholder-btn {
    margin: 20px 0;
    padding: 13px 0;
    border: 2px solid #fff;
    font-size: 2rem;
    line-height: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
  }

}

.menu-item-social {
  grid-area: social;

  li {
    display: inline-block;
  }
  a {
    border-bottom: none;
    font-size: 2.5rem;
    padding: 0 5px;
  }
}

/* announcement */

.announcement {
  max-width: 750px;
  margin: 0 auto;
  padding: 30px 0;
  text-align: center;

  p {
    font-size: 2.4rem;
    line-height: 3.6rem;
  }
}



// media

@media (min-width: 768px) and (max-width: 1024px) {

  .menu-content {
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 0;
    grid-template-areas:
      "primary about venue"
      "primary previous venue"
      "primary tickets social"
      "lang . .";
  }

  .menu-item-previous img {
    display: none;
  }

}

