// bower:scss
// endbower
@import "normalize";

/*------------------------------------*\
    VARIABLES
\*------------------------------------*/
$color-white: #fff;
$color-black: #151515;

$color-link: $color-black;
$color-text: $color-black;


$color-blue: #6CD9FF;
$color-purple: #BB94FF;
$color-pink: #FC94FC;
$color-yellow: #F8EF5A;
$color-lime: #CDE525;
$color-green: #51E782;

$content-sm: 470px;
$content-md: 740px;
$content-lg: 1134px;

$font-family: 'Exo 2', sans-serif;

//text sizes
$font-size-sm: 1.8rem; $line-height-sm: 2.8rem;
$font-size-md: 2.4rem; $line-height-md: 3.6rem;
$font-size-lg: 3.6rem; $line-height-lg: 4.6rem;

//text sizes for mobile
$font-size-sm-mb: 1.6rem; $line-height-sm-mb: 2.4rem;
$font-size-md-mb: 1.8rem; $line-height-md-mb: 2.6rem;
$font-size-lg-mb: 2.4rem; $line-height-lg-mb: 3.2rem;


//heading sizes
$font-size-h1: 7.2rem; $line-height-h1: 8rem;
$font-size-h2: 2rem; $line-height-h2: 3rem;
$font-size-h3: 2rem; $line-height-h3: 3rem;

//heading sizes for mobile
$font-size-h1-mb: 3rem; $line-height-h1-mb: 3.8rem;
$font-size-h2-mb: 2rem; $line-height-h2-mb: 3rem;
$font-size-h3-mb: 1.8rem; $line-height-h3-mb: 2.6rem;


/*------------------------------------*\
      MIXINS
\*------------------------------------*/

// transform
@mixin transform($transforms) {
  -moz-transform: $transforms;
  -o-transform: $transforms;
  -ms-transform: $transforms;
  -webkit-transform: $transforms;
  transform: $transforms;
}

// rotate
@mixin rotate($deg) {
  @include transform(rotate(#{$deg}deg));
}

// scale
@mixin scale($scale) {
  @include transform(scale($scale));
}

// translate
@mixin translate($x, $y) {
  @include transform(translate($x, $y));
}

// skew
@mixin skew($x, $y) {
  @include transform(skew(#{$x}deg, #{$y}deg));
}

//transform origin
@mixin transform-origin($origin) {
  moz-transform-origin: $origin;
  -o-transform-origin: $origin;
  -ms-transform-origin: $origin;
  -webkit-transform-origin: $origin;
  transform-origin: $origin;
}

//box-model
@mixin box-sizing($box-model) {
  -webkit-box-sizing: $box-model; // Safari <= 5
  -moz-box-sizing: $box-model; // Firefox <= 19
  box-sizing: $box-model;
}

/*------------------------------------*\
    COMMON STYLES
\*------------------------------------*/

.browserupgrade {
  margin: 0.2em 0;
  background: $color-white;
  color: $color-black;
  padding: 0.2em 0;
  border: 2px solid $color-black;
}

html {
  @include box-sizing(border-box);
}

*,
*::before,
*::after {
  @include box-sizing(inherit);
}

html {
  font-size: 10px; // for using rem
}

body {
  background: $color-blue;
  padding-top: 44px;
  font-family: 'Exo 2', sans-serif;
  color: $color-text;
  font-size: 1.8rem;
  line-height: 2.8rem;
  transition: all 200ms;
  //will-change:background;
}

.noscroll {
  overflow: hidden;
}

p {
  font: #{$font-size-sm}/#{$line-height-sm} $font-family;
  margin: .5rem 0;
  @media (max-width: 767px) {
    font: #{$font-size-sm-mb}/#{$line-height-sm-mb} $font-family;
    margin: .3rem 0;
  }
}

p.text-md {
  font: #{$font-size-md}/#{$line-height-md} $font-family;
  @media (max-width: 767px) {
    font: #{$font-size-md-mb}/#{$line-height-md-mb} $font-family;
  }
}

p.text-lg {
  font: bold #{$font-size-lg}/#{$line-height-lg} $font-family;
  margin: 2rem 0;
  @media (max-width: 767px) {
    font: bold #{$font-size-lg-mb}/#{$line-height-lg-mb} $font-family;
  }
}

h1 {
  font: bold #{$font-size-h1}/#{$line-height-h1} $font-family;
  margin: 1rem 0;

  @media (max-width: 767px) {
    font: bold #{$font-size-h1-mb}/#{$line-height-h1-mb} $font-family;
  }

}

h2 {
  font: bold #{$font-size-h2}/#{$line-height-h2} $font-family;
  text-transform: uppercase;
  margin-bottom: 60px;

  @media (max-width: 767px) {
    font: bold #{$font-size-h2-mb}/#{$line-height-h2-mb} $font-family;
    margin-top: 0;
    margin-bottom: 40px;
  }
}

h3 {
  font: bold normal #{$font-size-h3}/#{$line-height-h3} $font-family;
  margin: 0;

  @media (max-width: 767px) {
    font: bold #{$font-size-h3-mb}/#{$line-height-h3-mb} $font-family;
  }
}

a {
  color: $color-link;
  text-decoration: none;
  border-bottom: 1px solid $color-link;
  &:hover {
    border-bottom: none;
  }
}

.bold {
  font-weight: bold !important;
}

.text-center {
  text-align: center;
}

.padding-top-large {
  padding-top: 80px;
}

section {
  padding: 80px 20px;
  text-align: center;
  .content-sm {
    max-width: $content-sm;
  }
  .content-md {
    max-width: $content-md;
  }
  .content-lg {
    max-width: $content-lg;
  }
  .content-sm,
  .content-md,
  .content-lg {
    margin-left: auto;
    margin-right: auto;
  }
}

.btn {
  display: inline-block;
  padding: 15px 50px;
  border: 2px solid $color-link;
  color: $color-link;
  font-weight: bold;
  font-size: 2rem;
  line-height: 3rem;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.7s cubic-bezier(0.77, 0.2, 0.05, 1.0);

  &:hover {
    //color: #000; /* Fallback for older browsers */
    //color: rgba(0, 0, 0, 0.5);
    //background: #000;
    /* Color fallback */
    color: $color-white;
    background-color: $color-black;
    border-bottom: 2px solid $color-link;
    //-webkit-background-clip: text;
    //-webkit-text-fill-color: transparent;
  }
}

.social-links {
  text-align: center;
  margin: 0 auto;
  li {
    display: inline-block;
  }
  a {
    border-bottom: none;
    font-size: 2.5rem;
    padding: 0 5px;
  }
}


/*------------------------------------*\
    ANIMATED NAVIGATION
\*------------------------------------*/
nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 44px;
  background: $color-black;
  color: $color-white;
  text-align: center;
  z-index: 1001;

  a {
    color: $color-white;
    border-bottom: 1px solid $color-white;
    &:hover {
      border-bottom: none;
    }
  }
  h2 a {
    border-bottom: none;
  }
}

/*------------------------------------*\
    HAMBURGER MENU ICON
\*------------------------------------*/

.menu-icon {
  background: $color-black;
  height: 44px;
  padding-top: 14px;
  position: absolute;
  z-index: 1;
  width: 100%;
}

.menu-icon span {
  display: block;
  width: 40px;
  height: 2px;
  margin: 0 auto 5px;
  position: relative;
  font-size: 0;
  background: $color-white;
  z-index: 1;
  @include transform-origin(4px 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
  background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
  opacity 0.55s ease;
}

.menu-icon span:first-child {
  @include transform-origin(0);
}

.menu-icon span:nth-child(3) {
  @include transform-origin(0 100%);
  margin-bottom: 0;
}

/*------------------------------------*\
    MENU BUTTON
\*------------------------------------*/

.menu-btn {
  display: block;
  width: 40px;
  height: 20px;
  position: absolute;
  top: 14px;
  left: 50%;
  margin-left: -20px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

.menu-btn:checked {
  width: 24px;
  height: 24px;
  margin-left: -16px;
}

.menu-btn:checked + .menu-icon {
  padding-left: 8px;
  height: 64px;
}

.menu-btn:checked + .menu-icon span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, 2px);
  background: #fff;
  width: 33px;
}

.menu-btn:checked + .menu-icon span:nth-child(2) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

.menu-btn:checked + .menu-icon span:nth-child(3) {
  transform: rotate(-45deg) translate(-8px, 3px);
}

/*------------------------------------*\
    MENU CONTENT
\*------------------------------------*/
.menu-wrapper {
  overflow: auto;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  //min-height: 100%;
  //height: 100vh;
  color: $color-white;
  background: $color-black;
  padding: 120px 0 0;
  -webkit-font-smoothing: antialiased;
  transform: translate(0, -100%);
  transform-origin: 0 0;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

.menu-btn:checked ~ .menu-wrapper {
  transform: none;
}

.menu-content {
  max-width: 1200px;
  padding: 0 30px;
  margin: auto;
  text-align: left;

  display: inline-grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template-rows: auto;
  align-content: space-between;

  grid-template-areas: "primary about venue tickets" "primary previous venue tickets" "primary previous venue social" "lang . . . ";

  ul {
    list-style: none;
    padding: 0;
  }

  h2 {
    margin: 1.5rem 0;
    text-transform: uppercase;
    font-size: 1.8rem;
    line-height: 2.8rem;
  }

  h3 {
    margin: 0;
    font-size: 1.8rem;
    line-height: 2.8rem;
  }

  p {
    font-size: 1.6rem;
    line-height: 2.4rem;
    margin: 8px 0;
  }

  img {
    width: 100%;
    max-width: 260px;
    max-height: 146px;
  }
}

.menu-item-primary {
  grid-area: primary;
  li {
    padding: 8px 0;
    text-transform: uppercase;
    font-weight: bold;
    &:first-child {
      padding-top: 0;
    }
  }
  a {
    border-bottom: none;
  }
}

.menu-item-lang {
  grid-area: lang;

  li {
    display: inline-block;

    a {
      height: 60px;
      line-height: 56px;
      text-align: center;
      text-transform: uppercase;
      font-weight: bold;
      width: 60px;
      display: inline-block;
      border: 2px solid $color-white;
      border-radius: 50%;
      margin: 0 16px 0 0;

      &.active {
        background: $color-white;
        color: $color-black;
      }
    }
  }
}

.menu-item-about {
  grid-area: about;
}

.menu-item-previous {
  grid-area: previous;

  li {
    display: inline-block;
    padding: 0 16px 0 0;
  }

  a.active {
    border-bottom: none;
  }
}

.menu-item-venue {
  grid-area: venue;
}

.menu-item-tickets {
  grid-area: tickets;

  .placeholder-btn {
    margin: 20px 0;
    padding: 13px 0;
    border: 2px solid $color-white;
    font-size: 2rem;
    line-height: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
  }

}

.menu-item-social {
  grid-area: social;
  .social-links {
    text-align: left;
  }
}

/*------------------------------------*\
    NAV - PHOTO SLIDER
\*------------------------------------*/

.preview-slider {
  position: relative;
}

.preview-slider [class *="preview-box"] {
  position: absolute;
  top: 40px;
  left: 0;
  display: inline-block;
  width: 260px;
  max-width: 260px;
  height: 172px;
  background-image: url("../images/2016/1.jpg");
  background-size: contain;
  font-size: 0;
}

@keyframes slidy {

  0% { background-image: url("../images/2016/1.jpg");}

  8% { background-image: url("../images/2016/2.jpg");}
  16% { background-image: url("../images/2016/2.jpg");}

  16% { background-image: url("../images/2016/3.jpg");}
  24% { background-image: url("../images/2016/3.jpg");}

  24% { background-image: url("../images/2016/4.jpg");}
  32% { background-image: url("../images/2016/4.jpg");}


  32% { background-image: url("../images/2016/5.jpg");}
  40% { background-image: url("../images/2016/5.jpg");}

  40% { background-image: url("../images/2016/6.jpg");}
  48% { background-image: url("../images/2016/6.jpg");}

  48% { background-image: url("../images/2016/7.jpg");}
  56% { background-image: url("../images/2016/7.jpg");}

  56% { background-image: url("../images/2016/8.jpg");}
  64% { background-image: url("../images/2016/8.jpg");}

  64% { background-image: url("../images/2016/9.jpg");}
  72% { background-image: url("../images/2016/9.jpg");}

  72% { background-image: url("../images/2016/10.jpg");}
  80% { background-image: url("../images/2016/10.jpg");}

  80% { background-image: url("../images/2016/11.jpg");}
  88% { background-image: url("../images/2016/11.jpg");}

  88% { background-image: url("../images/2016/12.jpg");}

  95% { background-image: url("../images/2016/13.jpg");}
  100% { background-image: url("../images/2016/14.jpg");}

  //0% { background-image: url("../images/speakers/gerasimov.svg");}
  //20% { background-image: url("../images/speakers/vanchuk.svg");}
  //25% { background-image: url("../images/speakers/vanchuk.svg"); }
  //45% { background-image: url("../images/speakers/satchok.svg"); }
  //50% { background-image: url("../images/speakers/satchok.svg");}
  //70% { background-image: url("../images/speakers/jovanovic.svg");}
  //75% { background-image: url("../images/speakers/jovanovic.svg");}
  //95% { background-image: url("../images/speakers/krivlenya.svg");}
  //100% { background-image: url("../images/speakers/krivlenya.svg");}
}

.preview-slider a:hover [class *="preview-box"] {
  animation: 55s slidy infinite;
  z-index: 2;
}



/*------------------------------------*\
    ANNOUNCEMENT -BLUE
\*------------------------------------*/

.announcement {
  .btn {
    margin: 30px 0;
    &:hover {
      color: $color-blue;
    }
  }
}

/*------------------------------------*\
    SPEAKER LIST
\*------------------------------------*/
.speaker-list {padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: flex-start;
  li {
    display: list-item;
    width: 25%;
    margin-bottom: 60px;
  }
  img {
    max-width: 260px;
    max-height: 344px;
    display: inline-block;
  }
}

/*------------------------------------*\
    VENUE
\*------------------------------------*/
.img-venue {
  max-width: 550px;
  margin-bottom: 20px;
}

/*------------------------------------*\
    TWEETS
\*------------------------------------*/

.tweets-carousel {
  overflow: hidden;
  padding-bottom: 20px;
}

.tweet {
  border: 2px solid $color-black;
  margin: 10px 0;
  text-align: left;
  float: left;
  width: 100%;
  clear: both;
  .bold {
    margin-right: 5px;
  }
}

/*------------------------------------*\
    GALLERY
\*------------------------------------*/

.gallery {
  list-style: none;
  margin: 20px auto;
  padding: 0;

  display: inline-grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  align-content: space-between;

  img {
    height: 175px;
    width: 100%;
    max-width: 260px;
  }

  li {
    display: inline-block;
    margin: 0;
    line-height: 0;

    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(5) {
      img {
        height: 380px;
      }
    }

    &:first-child {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }
    &:nth-child(2) {
      grid-column: 2;
      grid-row: 1 / 3;
    }
    &:nth-child(3) {
      grid-column: 3;
      grid-row: 1 / 3;
    }
    &:nth-child(4) {
      grid-column: 4;
      grid-row: 1 / 2;
    }
    &:nth-child(5) {
      grid-column: 1;
      grid-row: 2 / 4;
    }
    &:nth-child(6) {
      grid-column: 2;
      grid-row: 3 / 4;
    }
    &:nth-child(7) {
      grid-column: 3;
      grid-row: 3 / 4;
    }

  }
  a {
    display: inline-block;
    overflow: hidden;
    border-bottom: 0;
  }
}

/*------------------------------------*\
    PARTNERS
\*------------------------------------*/
.partner-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  align-content: flex-start;
  li {
    display: list-item;
    width: 25%;
    margin-bottom: 60px;
  }
  a {
    border-bottom: 0;
  }
}

/*------------------------------------*\
    FOLLOW US SECTION
\*------------------------------------*/
.section-follow-us {
  padding-bottom: 0;
  .social-links {
    padding: 80px 0;
    a {
      font-size: 3rem;
    }
  }
}

/*------------------------------------*\
    FOOTER
\*------------------------------------*/

footer {
  height: 40px;
  text-align: center;
  background: $color-black;
  color: $color-purple;
  p {
    font-size: 1.4rem;
    line-height: 4rem;
    margin: 0;
  }
}

/*------------------------------------*\
    MEDIA QUERIES >1024
\*------------------------------------*/
@media (max-width: 1024px) {

  section {
    padding: 50px 20px;
  }

  blockquote {
    margin: 1rem 20px;
  }

  .menu-content {
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 0;
    grid-template-areas: "primary about venue" "primary previous venue" "primary tickets social" "lang . .";
  }

  .menu-item-previous img {
    display: none;
  }

  .preview-slider [class*="preview-box"] {
    display: none;
  }

  .speaker-list li {
    width: 50%;
    margin-bottom: 30px;
    img {
      max-width: 130px;
      max-height: 172px;
    }
  }

  .gallery img {
    width: auto;
  }
}

/*------------------------------------*\
    MEDIA QUERIES >767
\*------------------------------------*/
@media (max-width: 767px) {


  .menu-wrapper {
    padding: 40px 0;
  }

  .menu-content {
    padding: 0 70px;
    text-align: center;

    grid-template-columns: repeat(1, 100%);
    grid-row-gap: 0;
    grid-template-areas: "primary" "tickets" "previous" "lang";
  }

  .menu-item-about,
  .menu-item-venue,
  .menu-item-social,
  .city-address {
    display: none;
  }

  .speaker-list li {
    h3, p {
      //text-align: left;
    }
  }

  .gallery-wrap {
    position: relative;
    min-height: 450px;
    overflow: scroll;
  }
  .gallery {
    position: absolute;
    display: flex;
    align-items: center;

    li {
      display: inline-block;
      margin: 0;
      padding: 0 20px;
    }
  }
}
